<!DOCTYPE html>
<html lang = "">
  <head>
    <title>categoryPage</title>
    <%- include head %>
  </head>

  <body>
      <div><a href="/allQuestionsPage">选择题</a> </div>
      <div><a href="/allQuestionsPage">填空题</a> </div>
      <div><a href="/allQuestionsPage">判断题</a> </div>
      <div><a href="/allQuestionsPage">简答题</a> </div>
      <div><a href="/allQuestionsPage">代码题</a> </div>
      <div> Back to <a href="/">homePage</a> </div>
  </body>
</html>
