<!DOCTYPE html>
<html lang = "">
  <head>
    <title>coursePage</title>
    <%- include head %>
  </head>

  <body>
    <div>学生信息展示</div>
    <div>答卷记录: 提交/批改状态 时间 其他信息</div>
    <div><a href="/logPage">答卷记录1</a></div>
    <div><a href="/logPage">答卷记录2</a></div>
    <div><a href="/logPage">答卷记录3</a></div>
    <div><a href="/logPage">答卷记录4</a></div>
    <div><a href="/logPage">答卷记录5</a></div>
    <div>----------------------------------------------------------</div>
    <div>教师信息展示</div>
    <div><a href="/editAssignmentPage">添加作业</a></div>
    <div>作业记录: 作业标题 时间 提交人数 其他信息</div>
    <div><a href="/logPage">作业记录1</a></div>
    <div><a href="/logPage">作业记录2</a></div>
    <div><a href="/logPage">作业记录3</a></div>
    <div><a href="/logPage">作业记录4</a></div>
    <div><a href="/">homePage</a> </div>
      <div> Back to <a href="/">homePage</a> </div>
  </body>
</html>
