<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div><a href="/loginPage">1. Login：登陆</a> </div>
      <div><a href="/registerPage">2. Register：注册</a> </div>
      <div><a href="/personalPage">3. Personal：个人信息</a> </div>
      <div><a href="/oneAssignmentPage">4. Log：答题/答卷记录</a> </div>
      <div><a href="/coursePage">5. Course：某一课程页面</a> </div>
      <div><a href="/allQuestionsPage">6. AllQuestions：该分类下所有问题</a> </div>
      <div><a href="/oneQuestionPage">7. OneQuestion：新增/修改问题</a> </div>
      <div><a href="/editAssignmentPage">8. EditAssignment：组卷、修改试卷（1.自动组卷；2.教师手动组卷）</a> </div>
      <div>I'll never use C unless I'm forced to.</div>
      <div>-- Prof. Nick Weaver</div>
  </body>
</html>
