<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div><a href="/loginPage">Login：登陆</a> </div>
      <div><a href="/registerPage">Register：注册</a> </div>
      <div><a href="/personalPage">Personal：个人信息</a> </div>
      <div><a href="/logPage">Log：答题/答卷记录</a> </div>
      <div><a href="/categoryPage">Category：问题分类</a> </div>
      <div><a href="/allQuestionsPage">AllQuestions：该分类下所有问题</a> </div>
      <div><a href="/testPaperPage">TestPaper：组卷（1.自动组卷；2.教师手动组卷）</a> </div>
      <div>I'll never use C unless I'm forced to.</div>
      <div>-- Prof. Nick Weaver</div>
  </body>
</html>
