<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div><a href="/loginPage">Login</a> </div>
      <div><a href="/registerPage">Register</a> </div>
      <div>I'll never use C unless I'm forced to.</div>
      <div>-- Prof. Nick Weaver</div>
  </body>
</html>
