<!DOCTYPE html>
<html lang = "">
  <head>
    <title>logPage</title>
    <%- include head %>
  </head>
  <body>
    <div><a href="/assignmentPage"></a>答卷记录1</div>
    <div><a href="/assignmentPage"></a>答卷记录2</div>
    <div><a href="/assignmentPage"></a>答卷记录n</div>
    <div><a href="/">homePage</a> </div>
  </body>
</html>
