<!DOCTYPE html>
<html lang = "">
  <head>
    <title>oneAssignmentPage</title>
    <%- include head %>
  </head>
  <body>
      <div>q1</div>
      <div>q2</div>
      <div>qn</div>
  </body>
</html>
