<!DOCTYPE html>
<html lang = "">
  <head>
    <title>personalPage</title>
  </head>
  <body>
    <div>Courses</div>
      <% item.user_courses.map(function(course, index) { %>
        <span><a href="/coursePage"><%= course %></a></span><br>
        <!-- <span><a href="/coursePage?q_time=<%=item.q_time%>"><%= course %></a></span><br> -->
        </div>
      <% }) %><br>

    <div>
          <form action="/courses/addCourse" method="post">
            <div><input type="text" name="courseName" value="" placeholder="Input New Course Name"></div>
            <div><input type="text" name="instMail" value="" placeholder="Input New Instructor's Mail"></div>
            <div><input type="submit" name="" value="Add Course"></div>
          </form>
    </div>
  </body>
</html>
